@import "../../style/variables.scss";

.client {
  background: rgba(0, 0, 0, 0) url(../../images/bg-client.webp) repeat scroll
    center center / cover;
  padding: 120px 0 130px 0;
  
  p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
    margin: 0 0 30px;
    text-align: center;
  }
  h4 {
    color: #fff;
    font-size: 24px;
    margin: 0;
    font-weight: 400;
    text-align: center;
  }
}

