@import "../../style/variables.scss";

.service {
  background-color: $bg-gray;

  .service-elem {
    max-width: 315px;
    min-width: 296px;
    height: 357px;
    transition: $transitionGeneral;

    &:hover,
    &:focus {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    }
  }
  .service-icon {
    margin-right: 20px;
  }
  .service-elem-content {
  }
  .service-elem-title {
    text-align: left;
    margin: 0 0 8px 0;
    font-size: 24px;
    font-weight: 600;
    color: $primaryTitleColor;
  }
  .service-elem-discription {
    text-align: left;
    color: $primaryTextColor;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px;
  }
}
.service-c-elem {
  width: 100%;
  // justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: $plansScreenSize) {
  .pricingPlan {
    .pricingPlan-wrap {
      .pricingPlan-c-elem {
        justify-content: flex-start;
        .pricingPlan-elem {
          width: calc(50% - 15px);
        }
      }
    }
  }
}

@media screen and (max-width: $plansScreenSize) {
  .service {
    .max1170 {
      .service-wrap {
        .service-c-elem {
          justify-content: flex-start;

          .pricingPlan-elem {
            width: calc(50% - 15px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mobScreenSize) {
  .service {
    .max1170 {
      .service-wrap {
        .service-c-elem {
          flex-direction: column;
          justify-content: center;

          .pricingPlan-elem {
          }
        }
      }
    }
  }
}
