.hero-c {
    width: 100%;
    height: 100vh;
    background: url("https://htmldemo.net/moto/img/moto/banner.webp") repeat scroll center center / cover!important;
    position: relative;
    .hero-slider {
        position: absolute;
        left: -2vw;
        max-width: 1026px;
        width: 55vw;

        animation-name: slider;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-fill-mode: backwards;

    }
    .hero-content {
        z-index: 5;
        background-color: aqua;
        width: 100%;
        max-width: 780px;
    }
    .hero-title {
    
    }
    .hero-text {
        text-align: left;
    
    }
    .hero-button {
    
    }

}



@keyframes slider {
    0% {
        left: -150vw;
    }
    100% {
        left: -2vw;
    }
}