@import "../../style/variables.scss";

.hero-c {
  width: 100%;
  height: 100vh;
  background: url("https://htmldemo.net/moto/img/moto/banner.webp") repeat
    scroll center center / cover !important;
  position: relative;

  .hero-global-content {
    width: 60%;
  }

  .hero-slider {
    position: absolute;
    left: -2vw;
    max-width: 1026px;
    width: 55vw;

    animation-name: slider;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
  }
  .hero-content {
    z-index: 5;
    width: 100%;
    max-width: 780px;
  }
  .hero-title {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    color: $whiteText;
  }
  .hero-text {
    text-align: left;
    color: $whiteText;
    font-size: 18px;
    margin: 0 0 35px;
    max-width: 350px;
    font-weight: $pDeskTextWeight;
  }
  .hero-button {
    font-size: $btnTextSize;
    color: $whiteText;
    background-color: $btnBgColor;
    border-radius: 4px;
    font-weight: $boldText;
    padding: 15px 50px;
    transition: $transitionGeneral;
    box-shadow: $boxShadowBtn;
    &:hover,
    &:focus {
      background-color: $hoverFoculLigt;
    }
    cursor: pointer;
  }
}

@keyframes slider {
  0% {
    left: -150vw;
  }
  100% {
    left: -2vw;
  }
}

@keyframes mobSlider {
  0% {
    left: -150vw;
  }
  100% {
    left: 55vw;
  }
}

@media screen and (max-width: $mobScreenSize) {
  .hero-c {
    .hero-g-c-body {
      justify-content: center;
    }
    .hero-global-content {
     justify-content: center;
   }
   .hero-slider {
    top: 380px;
    left: auto;
    right: 0px;
    width: 45vw;

    animation-name: mobSlider;

   }

  }
}
