@import "../../style/variables.scss";

.header {
  position: fixed;
  height: 73px;
  top: 0;
  padding-top: 30px;
  width: 100%;
  transition: all 0.3s;
  z-index: 5;
  &.move {
    background: rgba(0, 0, 0, 0)
      linear-gradient(to right, #ff5f6d 0%, #ffb270 100%) repeat scroll 0 0;
    box-shadow: 0 0 20px -10px #000;
    padding-top: 0;
  }
  .header-c-logo-burger {
    .header-burger-menu {
      width: 25px;
      height: 25px;
      display: none;

      div {
        background-color: $whiteText;
        width: 100%;
        height: 4px;
        border-radius: 4px;
      }
    }
  }
  .logo {
    margin-right: 20px;
  }
  .c-nav {
    width: 100%;
    max-width: 780px;
    .link {
      color: $whiteText;
    }
    .download {
      border: 1px solid $whiteText;
      color: $whiteText;
      border-radius: 4px;
      padding: 8px 20px;
      transition: $transitionGeneral;
      &:hover,
      &:focus {
        background-color: $hoverFoculLigt;
        border: 1px solid $hoverFoculLigt;        
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .header {
    z-index: 20;
    height: auto;
    .header-content {
      display: block;      
    }
    .header-c-logo-burger {
      width: 100%;
      .header-burger-menu {
        display: flex;
      }
    }
    .c-nav {
      display: none;
      .link {
        padding: 20px 0;
      }
      &.open {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
