* {
  text-decoration: none;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-family: "Open sans";
}
// display
.flex {
  display: flex;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: op;
}
.centerColumn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexJustifyEnd {
  display: flex;
  justify-content: flex-end;
}

.flexRowJustifyStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flexColumnJustifyStart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flexColumnJustifyBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

// width content
.max1170 {
  max-width: 1170px;
  width: 98%;
}

// hidden
.hidden {
  display: none;
}
