* {
  text-decoration: none;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-family: "Open sans";
  scroll-behavior: smooth;
}
// display
.flex {
  display: flex;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerColumn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexJustifyEnd {
  display: flex;
  justify-content: flex-end;
}

.flexRowJustifyStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flexColumnJustifyStart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flexColumnJustifyBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.flexJustifyEvenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.flexJustifyAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// width content
.max1170 {
  max-width: 1170px;
  width: 98%;
}

// hidden
.hidden {
  display: none;
}
