// colors
$bg-gray: #faf9ff;

$primaryTitleColor: #3e3e3e;
$primaryTextColor: #999999;
$whiteText: #fff;

$hoverFoculLigt: #f04c5a;
$whiteText: #fff;
$redSubscrForm: #ff5f6d;

$boxShadowNarrow: 0 0 15px rgba(0, 0, 0, 0.15);
$boxShadowWide: 0 0 30px rgba(0, 0, 0, 0.15);

// sizes
$pDeskTextSize: 14px;
$pDeskTextWeight: 400;

// animations

$transitionGeneral: all 0.3s ease 0s;

