// colors
$bg-gray: #faf9ff;

$primaryTitleColor: #3e3e3e;
$primaryTextColor: #999999;
$whiteText: #fff;

$hoverFoculLigt: #f04c5a;
$whiteText: #fff;
$btnBgColor: #ff5f6d;
$redSubscrForm: #ff5f6d;

$boxShadowNarrow: 0 0 15px rgba(0, 0, 0, 0.15);
$boxShadowWide: 0 0 30px rgba(0, 0, 0, 0.15);
$boxShadowBtn: 0px 0px 30px 3px rgba(0, 0, 0, 0.1);

// sizes
$pDeskTextSize: 14px;
$titleDeskTextSize: 40px;
$smallTitleDeskSize: 20px;
$btnTextSize: 16px;

$pDeskTextWeight: 400;
$boldText: 700;
$mediumTextWeight: 600;

// animations

$transitionGeneral: all 0.3s ease 0s;

// screen-sizes
$mobScreenSize: 750px;
$planshScreenSize: 990px;
$tabScreenSize: 1200px;




