@import "../../style/variables.scss";
.pricingPlan {
  padding: 130px 0 100px;
  .pricingPlan-wrap {
    width: 100%;
    .pricingPlan-heading {
      max-width: 555px;
      margin-bottom: 55px;
      h2 {
        font-size: $titleDeskTextSize;
        font-weight: $mediumTextWeight;
        margin-bottom: 24px;
        color: $primaryTitleColor;
      }
      p {
        font-size: $pDeskTextSize;
        font-weight: $pDeskTextWeight;
        margin-bottom: 10px;
        color: $primaryTextColor;
        text-align: center;
      }
    }
    .pricingPlan-c-elem {
      width: 100%;
      gap: 30px;
      flex-wrap: wrap;
      .pricingPlan-elem {
        padding-top: 65px;
        box-shadow: $boxShadowNarrow;
        max-width: 365px;
        width: 30%;
        min-width: 296px;
        height: 379px;
        border-radius: 10px;
        cursor: pointer;
        transition: $transitionGeneral;
        h4 {
          font-size: 20px;
          font-weight: $pDeskTextWeight;
          color: $primaryTextColor;
        }
        span {
          font-size: 50px;
          font-weight: 300;
          color: $primaryTitleColor;
        }
        p {
          font-size: 16px;
          color: $primaryTextColor;
        }
        .pricing-btn {
          box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
          display: inline-block;
          font-size: 15px;
          font-weight: 600;
          padding: 24px 45px;
          color: $primaryTitleColor;
          transition: all 0.4s ease 0s;
          text-transform: uppercase;
        }
        &:hover,
        &:focus {
          background-color: $hoverFoculLigt;
          h4,
          span,
          p,
          .pricing-btn {
            color: $whiteText;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $planshScreenSize) {
  .pricingPlan {
    .pricingPlan-wrap {
      .pricingPlan-c-elem {
        justify-content: flex-start;
         .pricingPlan-elem {
          width: calc(50% - 15px);
        }
      }
    }
  }
}

@media screen and (max-width: $mobScreenSize) {
  .pricingPlan {
    .pricingPlan-wrap {
      .pricingPlan-c-elem {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .pricingPlan-elem {
          width: 100%;
        }
      }
    }
  }
}
